*{
    padding: 0;
    margin:0;
}

body{
    font-family: "Calibri Lighgt";
    background-color: rgb(99, 99, 99);
    font-family: calibri;
}

.uno{
    background: red;
    width: 1000px;
    height:350px;
    margin-top:10px;
    margin-right: 20px;
    margin-bottom: 80px;
    margin-left: 150px;

    padding-top: 10px;
    padding-right:20px;
    padding-bottom: 30px;
    padding-left: 20px;
    border: 1px solid #000;
}
    
.dos{
    background: blueviolet;
    width: 200px;
    height: 200px;
    margin:10px 20px 80px 150px;
    padding: 10px 20px 30px 20px;
    border-radius: 100%;
}
   

.tres{
    background: #ec4c37;
    width:70%;
    margin: 50px 150px;
    padding: 10px 20px;
    border-radius: 40px;
}


.cuatro{
    background: rgb(15, 140, 179);
    padding: 20px;
}
